@page
@model _838PET.Pages.AdmUserPanelModel
@{
    Layout = null;
}
@using Microsoft.AspNetCore.Identity
@using _838PET.Areas.Identity.Data
@using Newtonsoft.Json

@inject SignInManager<UserIdentity> SignInManager
@inject UserManager<UserIdentity> UserManager

@{
    var profileFilter = @ViewData["Message"];
    IQueryable allusersByprofile;
    if (profileFilter.ToString() == "all")
    {
        allusersByprofile = UserManager.Users;
    }
    else {
        allusersByprofile = UserManager.Users.Where(x => x.Perfil == profileFilter.ToString());
    }
    var allusersPF = UserManager.Users.Where(x => x.Perfil == "PF");
    var allusersPJ = UserManager.Users.Where(x => x.Perfil == "PJ");

}
<!doctype html>
<html lang="pt_br">
<head>
    <title>Usuários</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/panel.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color: #ECF0F3;">

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a asp-area="" asp-page="/Panel">Início</a>
        <a asp-page="AdmProductPanel">Produtos</a>
        <a href="#">Serviços</a>
        <a href="#">Vouchers</a>
        <a href="#">Financeiro</a>
        <a href="#">Configurações</a>
        <a asp-page="AdmUserPanel" asp-route-profile="all">Usuários</a>
        
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link logout">Sair</button>
            </form>
    </div>
    <header>
        <div class="appbar" id="topo">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-2">
                        <span class="bt-mobile" onclick="openNav()">&#9776;</span>
                    </div>
                    <div class="col-10 appbar-title">
                        <label>838 Pet</label>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main role="main" class="pb-3">


        <div class="stack">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-3 align-self-center sidebar-col">
                        <div class="neumorphic-sidebar">
                            <div class="sidebar">
                                <h2>Menu</h2>
                                <div class="divider"></div>
                                <ul>
                                    <li><a asp-area="" asp-page="/Panel">Início</a></li>
                                    <li><a asp-page="AdmProductPanel">Produtos</a></li>
                                    <li><a href="#">Serviços</a></li>
                                    <li><a href="#">Vouchers</a></li>
                                    <li><a href="#">Financeiro</a></li>
                                    <li><a href="#">Configurações</a></li>
                                    <li><a asp-page="AdmUserPanel" asp-route-profile="all">Usuários</a></li>
                                    <li>
                                    <li>
                                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                            <button id="logout" type="submit" class="nav-link btn btn-link logout">Sair</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-9 align-self-center content-col">
                        <h1>Usuários</h1>
                        <div class="container user-filter">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-12 align-self-center neumorphic users-board">
                                    <div class="row justify-content-center">
                                        <div class="col-10 col-md-8 align-self-center">
                                            <input type="text" placeholder="Pesquisar" class="neumorphic-input search-user" id="searchInput" onkeyup="searchFunction()"/>
                                        </div>
                                        <div class="col-2 col-md-2 align-self-center search-bt-col">
                                            <button type="submit" class="neumorphic-button search-bt ripple"><i class="fa fa-search" onclick="searchFunction()"></i></button>
                                        </div>
                                    </div>
                                    <div class="row filter-line justify-content-center">
                                        <div class="col-3 col-md-2 user-data-1 filter-block neumorphic ripple" id="pf">
                                            <a asp-page="AdmUserPanel" asp-route-profile="PF">
                                                <div>
                                                    <h5>Usuários</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-3 col-md-2 user-data-1 filter-block neumorphic ripple" id="pj">
                                            <a asp-page="AdmUserPanel" asp-route-profile="PJ">
                                                <div>
                                                    <h5>Parceiros</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-3 col-md-2 user-data-1 filter-block neumorphic ripple" id="all" >
                                            <a asp-page="AdmUserPanel" asp-route-profile="all">
                                                <div>
                                                    <h5>Todos</h5>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="table-responsive-sm" id="tabela-users">

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        var allUsers = JSON.parse('@Html.Raw(Json.Serialize(allusersByprofile))');
        window.addEventListener("load", function () {

            // Draw HTML table
            var perrow = 1, // 3 cells per row
                html = "<table id='userTable' class='table'><thead class='thead-light'><tr><th scope='col'>Nome</th><th scope='col'>Email</th><th scope='col'>WhatsApp</th><th scope='col'>Telefone</th><th scope='col'>Cidade</th></tr></thead><tbody><tr>";

            // Loop through array and add table cells
            for (var i = 0; i < allUsers.length; i++) {
                html += "<td>" + allUsers[i]["fullName"] + "</td>";
                html += "<td>" + allUsers[i]["email"] + "</td>";
                html += "<td>" + allUsers[i]["alternativoTelefone"] + "</td>";
                html += "<td>" + allUsers[i]["telefone"] + "</td>";
                html += "<td>" + allUsers[i]["cidade"] + "</td>";


                // If you need to click on the cell and do something
                // html += "<td onclick='FUNCTION()'>" + data[i] + "</td>";

                // Break into next row
                var next = i + 1;
                if (next % perrow == 0 && next != allUsers.length) {
                    html += "</tr><tr>";
                }
            }
            html += "</tr></tbody></table>";

            // Attach HTML to container
            document.getElementById("tabela-users").innerHTML = html;
        });

    </script>
    <script>
        function searchFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("userTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        changeFilterColor("@profileFilter.ToString()");
        function changeFilterColor(filter) {
            
            if (filter == "PF") {

                document.getElementById("pf").style.setProperty('background', 'cornflowerblue', 'important');
                
            }

            if (filter == "PJ") {

                document.getElementById("pj").style.setProperty('background', 'cornflowerblue', 'important');
                
            }

            if (filter == "all") {
                document.getElementById("all").style.setProperty('background', 'cornflowerblue', 'important'); 
            }
        }
    </script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .default-header {
            display: none;
        }

        .defautl-footer {
            display: none;
        }
    </style>
</body>
</html>